/application-x-altera-bitstream.ico
/application-x-altera-bitstream.png
/application-x-xilinx-bitstream.ico
/application-x-xilinx-bitstream.png
/application-x-xilinx-bitstream_16.png
/application-x-xilinx-bitstream_24.png
/application-x-xilinx-bitstream_32.png
/application-x-xilinx-bitstream_48.png
/ulogic_banner.bmp
/ulogic_icon.ico
/ulogic_icon_32.png
/ulogic_icon_48.png
/ulogic_installer.ico
/ulogic_splash.bmp
/ulogic_uninstaller.ico
